.stripe {
    width: 100%;
    background: linear-gradient(150deg,#141d2c 15%,#263349 70%,#5c5a67 94%);
    background: #fff0;
    margin-top: -5px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

svg {
    width: 2000px;
    height: 800px;
}

.stripe-polygon {
    fill: #F44336;
}

.intro-text {
    font-family: Roboto;
    color: white;
    text-align: center;
}

.intro-text-title {
    font-weight: 300;
    font-size: 3.5em;
}

.intro-text-paragraph {
    width: 900px;
    margin: 1em auto;
    margin-bottom: 2em;
    text-align: center;
    font-weight: 100;
    max-width: 100%;
    word-spacing: 4px;
    font-size: 2em;
    line-height: 40px;
    letter-spacing: 1.4px;
}

.intro-buttons {
    padding: 0.6em .7em;
    color: #F44336;
    font-family: Lato;
    font-weight: 300;
    font-size: 1.25em;
    background: white;
    border: 1px solid white;
    border-radius: 14px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 2px 0 #e2e2e2
}

.intro-buttons:hover {
    box-shadow: 0 0 1px 0 #d1d1d1
}

.intro-buttons:focus {
    outline: none;
}

button, a{
    -webkit-tap-highlight-color: transparent;
}

.resume-builder-title {
    color: white;
}

@media all and (min-width: 50px)   {  body  { font-size:0.1em;  } }
@media all and (min-width: 100px)  {  body  { font-size:0.2em;  } }
@media all and (min-width: 200px)  {  body  { font-size:0.4em;  } }
@media all and (min-width: 300px)  {  body  { font-size:0.6em;  } }
@media all and (min-width: 400px)  {  body  { font-size:0.8em;  } }
@media all and (min-width: 500px)  {  body  { font-size:1.0em;  } }
