.resume-builder-container {
    margin-bottom: 20em;
}

.resume-builder-section {
    width: 900px;
    max-width: 95%;
    margin: 2em auto;
    -webkit-box-shadow: 0 0 1px hsla(0,0%,63%,.54);
    box-shadow: 0 0 1px hsla(0,0%,63%,.54);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.resume-builder-section:hover {
    -webkit-box-shadow: 0 0 1px hsla(0, 0%, 15%, 0.54);
    box-shadow: 0 0 1px hsla(0, 0%, 15%, 0.54);
}

.resume-builder-title {
    font-family: Lato;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 2.4em;
    color: #949494;
    text-align: center;
    letter-spacing: 5px;
}

.resume-builder-title:hover {
    color: #d47979;
}

.resume-builder-section-title-icon {
    width: 20px;
    margin-right: 10px;
    fill: #f06070!important;
}

.resume-builder-section-title-icon svg path{
    fill: #f06070!important;
}

.resume-builder-section-title {
    font-family: Roboto;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    background: #fafafa30;
    color: #5f9cc4;
    padding: 15px 30px;
    border-bottom: 1px solid #eeeeee;
}

.resume-builder-section-inner-container {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.job-outer-container {
    padding-top: 1.5em;
}

.job-container {
    padding-bottom: 0;
    padding-top: 0;
}

.section-input-container {
    font-family: Lato;
    display: inline-block;
    margin: 10px;
}

.section-input-label {
    color: #868686;
    width: 75px;
    display: inline-block;
}

.section-input {
    padding: 4px;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 1em;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    outline: none;
    color: #414344;
}

.work-experience-bullet-list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 1em;
}

.work-experience-bullet-list .rem-button {
    padding: 0;
    padding-left: 10px;
}

li {
    padding-left: 1em; 
    text-indent: -.7em;
}
  
li::before {
    content: "• ";
    color: #3f3f3f;
    vertical-align: top;}

.bullet-list-item {
    width: 85%;
    box-sizing: border-box;
    margin-bottom: 13px;
}

.bullet-list-item {
    border: none;
    padding: 0;
    resize: none;
}

.rem-button {
    border: none;
    font-family: Lato;
    font-weight: 400;
    color: #d44848;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
    padding-left: 1em;
    letter-spacing: 0.3px;
    display: inline-block;
}

.add-bullet-point {
    text-align: right;
    padding-right: 5em;
    border: none;
    font-size: 15px;
    color: #3d8e80;
    cursor: pointer;
}

.add-info {
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin: 0 auto;
    font-size: 19px;
    font-weight: 300;
    font-family: Roboto;
    color: #b5b4b4;
    margin-top: 2em;
    border: 1px solid #f1f1f1;
    padding: 10px 8px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    letter-spacing: 2px;
    background: #fafafa;
}

.add-info:hover {
    background: #fff;
    color: #2196f3;
}

button{
    outline: none;
    background: none;
}

.download-button-container{
    text-align: center;   
}

.download-button {
    cursor: pointer;
    font-family: Lato;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 8px;
    color: #ca8c8c;
    border: 2px solid #d2a0a0;
    margin: 1em 2em;
    border-radius: 3px;
}

.download-button:hover {
    color: #d47979;
    border: 2px solid #de9898;
}

.template-section {
    overflow-x: scroll;

}

.template-section-container {
    width: 1170px;
    animation: fadeIn .5s;

}

.resume-template-img {
    display: inline-block;
    cursor: pointer;
    overflow-x: scroll;
    width: 150px;
    margin: 35px;
    border-radius: 4px;
    padding: 5px;
}

.resume-template-img:hover {
    box-shadow: 0 0 4px hsla(0,0%,63%,.34);
}

/* Preview */

#pdfV {
    /* width: 305px;
    max-width: 95%;
    height: 480px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8em;
    border: 1px solid #eee; */
    width: 80%;
    position: fixed;
    /* right: 50%; */
    left: 10%;
    top: 5vh;
    /* max-width: 95%; */
    height: 90vh;
    /* display: block; */
    /* margin: 0 auto; */
    /* margin-bottom: 8em; */
    border: 1px solid #eee;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0;
    } 
    100% {
        opacity: 1;
        height: 300px;
    }
}